<app-navbar></app-navbar>
<h1
  class="text-3xl font-bold tablet:ml-8 mobileS:ml-3 mt-2 mb-2 mobileS:text-center tablet:text-start"
>
  DATA ORDERS
</h1>

<div class="flex justify-center">
  <div
    class="container mb-2 px-4 tablet:w-[700px] laptop:w-[950px] desktop:w-full"
  >
    <!-- Flex container for search and add button -->
    <div
      class="flex flex-col mobileS:flex-col tablet:flex-row justify-between items-center gap-1"
    >
      <!-- Search form -->
      <div [formGroup]="searchForm" class="w-full tablet:w-[300px]">
        <input
          type="text"
          formControlName="search"
          placeholder="Search Orders By Customer Name"
          class="border-2 border-gray-300 bg-white shadow-xl h-10 px-5 pr-10 rounded-lg text-sm focus:outline-none focus:border-customBlue w-full"
        />
      </div>
      <!-- Button Add -->
      <div class="flex justify-between gap-2">
        <div class="mobileS:w-[150px] w-full tablet:w-[200px]">
          <button
            class="btn btn-primary bg-customBlue shadow-xl text-white hover:bg-customGrey rounded-lg w-full tablet:w-full h-10"
            (click)="onDownload()"
          >
            Download
          </button>
        </div>
        <div class="mobileS:w-[150px] w-full tablet:w-[200px]">
          <button
            class="btn btn-primary bg-customBlue shadow-xl text-white hover:bg-customGrey rounded-lg w-full tablet:w-full h-10"
            (click)="onAdd()"
          >
            Add Order
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL ADD -->
<div class="modal" *ngIf="showModalAdd">
  <div class="modal-content">
    <div class="flex justify-end text-customGrey">
      <button
        class="close border-none focus:border-none text-3xl"
        (click)="resetForm(); showModalAdd = false"
      >
        &times;
      </button>
    </div>

    <!-- Isi Modal -->
    <div class="text-2xl text-center font-bold mb-4">Add Order</div>
    <form [formGroup]="addOrderForm" (ngSubmit)="onSubmitAdd()">
      <div class="space-y-4">
        <!-- Input Customer Name -->
        <div>
          <label class="text-[14px] text-customGrey" for="customerId">
            Customer<span
              *ngIf="
                addOrderForm.get('customerId')?.invalid &&
                (addOrderForm.get('customerId')?.dirty ||
                  addOrderForm.get('customerId')?.touched)
              "
              class="text-red-500"
            >
              *
            </span>
          </label>

          <select
            [class]="
              addOrderForm.get('customerId')?.invalid &&
              (addOrderForm.get('customerId')?.dirty ||
                addOrderForm.get('customerId')?.touched)
                ? 'text-[16px] w-full text-customGrey placeholder-gray-400 border border-red-500 rounded-md py-2 px-2 leading-tight focus:outline-none focus:bg-none transition duration-150 ease-in-out'
                : 'text-[16px] w-full  text-customGrey placeholder-gray-400 border border-gray-300 rounded-md py-2 px-2 leading-tight focus:outline-none focus:bg-none transition duration-150 ease-in-out'
            "
            id="customerId"
            name="customerId"
            formControlName="customerId"
          >
            <option value="" disabled selected>
              Choose a customer - Number Phone
            </option>
            <option
              *ngFor="let customer of customers"
              [value]="customer.customerId"
            >
              {{ customer.name | truncate : 10 }}
              {{ customer.phoneNumber }}
            </option>
          </select>

          <div
            *ngIf="
              addOrderForm.get('customerId')?.invalid &&
              (addOrderForm.get('customerId')?.dirty ||
                addOrderForm.get('customerId')?.touched)
            "
          >
            <div
              class="text-red-500 text-xs"
              *ngIf="addOrderForm.get('customerId')?.errors?.['required']"
            >
              Customer is required.
            </div>
          </div>
        </div>

        <!-- Input ProductName -->
        <div>
          <label class="text-[14px] text-customGrey" for="itemId">
            Product
            <span
              *ngIf="
                itemId && itemId.invalid && (itemId.dirty || itemId.touched)
              "
              class="text-red-500"
            >
              *</span
            >
          </label>

          <select
            [class]="
              itemId && itemId.invalid && (itemId.dirty || itemId.touched)
                ? 'text-[16px] w-full text-customGrey placeholder-gray-400 border border-red-500 rounded-md py-2 px-2 leading-tight focus:outline-none focus:bg-none transition duration-150 ease-in-out'
                : 'text-[16px] w-full  text-customGrey placeholder-gray-400 border border-gray-300 rounded-md py-2 px-2 leading-tight focus:outline-none focus:bg-none transition duration-150 ease-in-out'
            "
            id="itemId"
            name="itemId"
            formControlName="itemId"
            (change)="updatePrice()"
          >
            <option value="" disabled selected>Choose a Product</option>
            <option *ngFor="let product of products" [value]="product.itemId">
              {{ product.name }}
            </option>
          </select>

          <div
            *ngIf="itemId && itemId.invalid && (itemId.dirty || itemId.touched)"
          >
            <div
              class="text-red-500 text-xs"
              *ngIf="itemId.errors?.['required']"
            >
              Product cannot be empty.
            </div>
          </div>
        </div>

        <!-- QUANTITY -->
        <!-- Input Quantity -->
        <div>
          <label class="text-[14px] text-customGrey" for="quantity">
            Quantity<span
              *ngIf="
                quantity &&
                quantity.invalid &&
                (quantity.dirty || quantity.touched)
              "
              class="text-red-500"
            >
              *</span
            >
          </label>

          <input
            [class]="
              quantity &&
              quantity.invalid &&
              (quantity.dirty || quantity.touched)
                ? 'text-[16px] w-full text-customGrey placeholder-gray-400 border border-red-500 rounded-md py-2 px-2 leading-tight focus:outline-none focus:bg-none transition duration-150 ease-in-out'
                : 'text-[16px] w-full text-customGrey placeholder-gray-400 border border-gray-300 rounded-md py-2 px-2 leading-tight focus:outline-none focus:bg-none transition duration-150 ease-in-out'
            "
            type="text"
            id="quantity"
            name="quantity"
            placeholder="Quantity"
            formControlName="quantity"
          />

          <!-- ERROR MESSAGE -->
          <div
            *ngIf="
              quantity &&
              quantity.invalid &&
              (quantity.dirty || quantity.touched)
            "
          >
            <div
              class="text-red-500 text-xs"
              *ngIf="quantity.errors?.['required']"
            >
              Quantity Price column cannot be empty.
            </div>
            <div
              class="text-customRed text-xs"
              *ngIf="quantity.errors?.['minlength']"
            >
              Quantity column cannot be less than 1 character
            </div>
            <div
              class="text-customRed text-xs"
              *ngIf="quantity.errors?.['maxlength']"
            >
              Quantity column cannot exceed 10 characters
            </div>
            <div
              class="text-customRed text-xs"
              *ngIf="quantity.errors?.['pattern']"
            >
              Product Price column must be a number
            </div>
          </div>

          <!-- Display entered quantity -->
        </div>

        <!-- TOTAL PRICE -->

        <div class="text-[14px] text-customGrey" *ngIf="selectedProduct">
          Price: {{ selectedProduct.price }}
        </div>
        <div class="text-[14px] text-customGrey" *ngIf="quantity?.value">
          Entered Quantity: {{ quantity?.value }}
        </div>
        <div
          class="text-[14px] text-customGrey"
          *ngIf="
            selectedProduct &&
            quantityControl !== null &&
            quantityControl !== undefined &&
            quantityControl.value !== null &&
            quantityControl.value !== undefined
          "
        >
          Total Price:
          {{
            (selectedProduct.price || 0) * (+quantityControl.value || 0)
              | number : "1.2-2"
          }}
          <br />
        </div>

        <!-- Reset Error Message If Close Modal -->
        <div *ngIf="errorMessageOrder !== ''">
          {{ errorMessageOrder }}
        </div>
        <div class="flex justify-end">
          <button
            type="submit"
            class="mt-2 bg-customBlue text-white py-2 px-4 rounded-2xl hover:bg-customGrey w-32 h-10"
          >
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- MODAL EDIT -->
<div class="modal" *ngIf="showModalEdit">
  <div class="modal-content">
    <div class="flex justify-end text-customGrey">
      <button
        class="close border-none focus:border-none text-3xl"
        (click)="resetForm(); showModalEdit = false"
      >
        &times;
      </button>
    </div>

    <!-- Isi Modal -->
    <div class="text-2xl text-center font-bold mb-4">Edit Order</div>
    <form [formGroup]="editOrderForm" (ngSubmit)="onSubmitEdit()">
      <div class="space-y-4">
        <!-- Input Customer Name -->
        <div>
          <label class="text-[14px] text-customGrey" for="customerId">
            Customer<span
              *ngIf="
                editOrderForm.get('customerId')?.invalid &&
                (editOrderForm.get('customerId')?.dirty ||
                  editOrderForm.get('customerId')?.touched)
              "
              class="text-red-500"
            >
              *
            </span>
          </label>

          <select
            [class]="
              editOrderForm.get('customerId')?.invalid &&
              (editOrderForm.get('customerId')?.dirty ||
                editOrderForm.get('customerId')?.touched)
                ? 'text-[16px] w-full text-customGrey placeholder-gray-400 border border-red-500 rounded-md py-2 px-2 leading-tight focus:outline-none focus:bg-none transition duration-150 ease-in-out'
                : 'text-[16px] w-full  text-customGrey placeholder-gray-400 border border-gray-300 rounded-md py-2 px-2 leading-tight focus:outline-none focus:bg-none transition duration-150 ease-in-out'
            "
            id="customerId"
            name="customerId"
            formControlName="customerId"
          >
            <option value="" disabled selected>
              {{ orderDetails.customerName }}
            </option>
            <option
              *ngFor="let customer of customers"
              [value]="customer.customerId"
            >
              {{ customer.name | truncate : 10 }}
              {{ customer.phoneNumber }}
            </option>
          </select>

          <div
            *ngIf="
              editOrderForm.get('customerId')?.invalid &&
              (editOrderForm.get('customerId')?.dirty ||
                editOrderForm.get('customerId')?.touched)
            "
          >
            <div
              class="text-red-500 text-xs"
              *ngIf="addOrderForm.get('customerId')?.errors?.['required']"
            >
              Customer is required.
            </div>
          </div>
        </div>

        <div>
          <label class="text-[14px] text-customGrey" for="itemId">
            Product
            <span
              *ngIf="
                editOrderForm.get('itemId')?.invalid &&
                (editOrderForm.get('itemId')?.dirty ||
                  editOrderForm.get('itemId')?.touched)
              "
              class="text-red-500"
            >
              *</span
            >
          </label>
          <select
            [class]="
              editOrderForm.get('itemId')?.invalid &&
              (editOrderForm.get('itemId')?.dirty ||
                editOrderForm.get('itemId')?.touched)
                ? 'text-[16px] w-full text-customGrey placeholder-gray-400 border border-red-500 rounded-md py-2 px-2 leading-tight focus:outline-none focus:bg-none transition duration-150 ease-in-out'
                : 'text-[16px] w-full text-customGrey placeholder-gray-400 border border-gray-300 rounded-md py-2 px-2 leading-tight focus:outline-none focus:bg-none transition duration-150 ease-in-out'
            "
            id="itemId"
            name="itemId"
            formControlName="itemId"
            (change)="updatePrice()"
          >
            <option value="" disabled selected>
              {{ orderDetails.itemName }}
            </option>
            <option *ngFor="let product of products" [value]="product.itemId">
              {{ product.name }}
            </option>
          </select>
          <div
            *ngIf="
              editOrderForm.get('itemId')?.invalid &&
              (editOrderForm.get('itemId')?.dirty ||
                editOrderForm.get('itemId')?.touched)
            "
          >
            <div
              class="text-red-500 text-xs"
              *ngIf="editOrderForm.get('itemId')?.errors?.['required']"
            >
              Product cannot be empty.
            </div>
          </div>
        </div>

        <!-- QUANTITY -->
        <!-- Input Quantity -->
        <div>
          <label class="text-[14px] text-customGrey" for="quantity">
            Quantity<span
              *ngIf="
                quantity &&
                quantity.invalid &&
                (quantity.dirty || quantity.touched)
              "
              class="text-red-500"
            >
              *</span
            >
          </label>

          <input
            [class]="
              quantity &&
              quantity.invalid &&
              (quantity.dirty || quantity.touched)
                ? 'text-[16px] w-full text-customGrey placeholder-gray-400 border border-red-500 rounded-md py-2 px-2 leading-tight focus:outline-none focus:bg-none transition duration-150 ease-in-out'
                : 'text-[16px] w-full text-customGrey placeholder-gray-400 border border-gray-300 rounded-md py-2 px-2 leading-tight focus:outline-none focus:bg-none transition duration-150 ease-in-out'
            "
            type="text"
            id="quantity"
            name="quantity"
            formControlName="quantity"
          />

          <!-- ERROR MESSAGE -->
          <div
            *ngIf="
              quantity &&
              quantity.invalid &&
              (quantity.dirty || quantity.touched)
            "
          >
            <div
              class="text-red-500 text-xs"
              *ngIf="quantity.errors?.['required']"
            >
              Quantity Price column cannot be empty.
            </div>
            <div
              class="text-customRed text-xs"
              *ngIf="quantity.errors?.['minlength']"
            >
              Quantity column cannot be less than 1 character
            </div>
            <div
              class="text-customRed text-xs"
              *ngIf="quantity.errors?.['maxlength']"
            >
              Quantity column cannot exceed 10 characters
            </div>
            <div
              class="text-customRed text-xs"
              *ngIf="quantity.errors?.['pattern']"
            >
              Product Price column must be a number
            </div>
          </div>

          <!-- Display entered quantity -->
        </div>

        <!-- TOTAL PRICE -->

        <div class="text-[14px] text-customGrey" *ngIf="selectedProduct">
          Price: {{ selectedProduct.price }}
        </div>
        <div class="text-[14px] text-customGrey" *ngIf="quantity?.value">
          Entered Quantity: {{ quantity?.value }}
        </div>
        <div
          class="text-[14px] text-customGrey"
          *ngIf="
            selectedProduct &&
            quantityControl !== null &&
            quantityControl !== undefined &&
            quantityControl.value !== null &&
            quantityControl.value !== undefined
          "
        >
          Total Price:
          {{
            (selectedProduct.price || 0) * (+quantityControl.value || 0)
              | number : "1.2-2"
          }}
          <br />
        </div>
        <div class="flex justify-end">
          <button
            type="submit"
            class="mt-2 bg-customBlue text-white py-2 px-4 rounded-2xl hover:bg-customGrey w-32 h-10"
          >
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- MODAL DETAIL -->
<div class="modal" *ngIf="showModalDetail">
  <div class="modal-content">
    <div class="flex justify-end text-customGrey">
      <button
        class="close border-none focus:border-none text-3xl"
        (click)="showModalDetail = false"
      >
        &times;
      </button>
    </div>

    <!-- Isi Modal -->
    <div class="text-2xl text-center">DETAIL ORDER</div>
    <div class="space-y-4">
      <div class="flex flex-col">
        <p class="text-lg font-semibold">Customer Name</p>
        <p class="text-gray-700">
          {{ orderDetails.customerName }}
        </p>
      </div>
      <div class="flex flex-col">
        <p class="text-lg font-semibold">Product Name</p>
        <p class="text-gray-700">{{ orderDetails.itemName }}</p>
      </div>

      <div class="flex flex-col">
        <p class="text-lg font-semibold">Order Date</p>
        <p class="text-gray-700">{{ orderDetails.formatToDateTime }}</p>
      </div>
      <div class="flex flex-col">
        <p class="text-lg font-semibold">Quantity</p>
        <p class="text-gray-700">{{ orderDetails.quantity }} PCS</p>
      </div>
      <div class="flex flex-col">
        <p class="text-lg font-semibold">Total Price</p>
        <p class="text-gray-700">{{ orderDetails.formattedTotalPrice }}</p>
      </div>
    </div>
  </div>
</div>

<!-- MODAL DELETE -->
<div class="modal w-full" *ngIf="showModalDelete">
  <div class="modal-content">
    <div class="flex justify-end text-customGrey">
      <button
        class="close border-none focus:border-none text-3xl"
        (click)="showModalDelete = false"
      >
        &times;
      </button>
    </div>

    <!-- Isi Modal -->
    <div class="text-2xl text-center">DELETE ORDER</div>
    <div class="space-y-4">
      <p>Are you sure you want to delete this order?</p>
      <p>{{ orderDetails.customerName }}</p>
      <p>{{ orderDetails.customerAddress }}</p>
      <p>{{ orderDetails.itemName }}</p>
      <p>{{ orderDetails.quantity }}</p>
      <p>{{ orderDetails.formatToDateTime }}</p>
      <p>{{ orderDetails.formattedTotalPrice }}</p>
      <div class="flex justify-end">
        <button
          (click)="onSubmitDelete()"
          class="mt-2 bg-customRed text-white py-2 px-4 rounded-2xl hover:bg-customGrey w-32 h-10"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
<app-table
  [data]="orders"
  [columns]="orderColumns"
  [startIndex]="startIndex"
  [header]="orderHeaderTable"
  (detailClicked)="onDetail($event)"
  (sortClicked)="onSort($event)"
  (editClicked)="onEdit($event)"
  (deleteClicked)="onDelete($event)"
></app-table>

<app-pagination
  [lastPage]="pagination.lastVisiblePage"
  [currentPage]="pagination.currentPage"
  [pageSize]="pageSize"
  (pageSizeChange)="onPageSizeChanged($event)"
  (pageChange)="onPageChanged($event)"
></app-pagination>
