<div class="overflow-x-auto px-1 md:px-8">
  <div class="rounded-lg overflow-auto">
    <table class="table-auto border-collapse w-full">
      <thead class="bg-customGrey text-customBlue">
        <tr>
          <ng-container *ngFor="let column of getHeaderTable(); let i = index">
            <th
              *ngIf="column === 'No'; else otherHeader"
              class="border px-4 py-2"
            >
              {{ column }}
            </th>

            <ng-template #otherHeader>
              <th class="border px-4 py-2">
                <div class="flex justify-between items-center">
                  <span class="text-left text-customBlue">{{ column }}</span>
                  <ng-container
                    *ngIf="!isLastColumn(i) && !isPictureColumn(column)"
                  >
                    <div class="flex items-center">
                      <button
                        (click)="onSortClick(columns[i], 'asc')"
                        [ngClass]="{
                          'sorted-asc':
                            currentSortColumn === columns[i] && isSortAsc,
                          active: currentSortColumn === columns[i]
                        }"
                        class="ml-2 hover:text-gray-600 text-xs sm:text-base"
                      >
                        ▲
                      </button>
                      <button
                        (click)="onSortClick(columns[i], 'desc')"
                        [ngClass]="{
                          'sorted-desc':
                            currentSortColumn === columns[i] && !isSortAsc,
                          active: currentSortColumn === columns[i]
                        }"
                        class="ml-2 hover:text-gray-600 text-xs sm:text-base"
                      >
                        ▼
                      </button>
                    </div>
                  </ng-container>
                </div>
              </th>
            </ng-template>
          </ng-container>
        </tr>
      </thead>

      <tbody>
        <tr
          *ngFor="let item of data; let i = index"
          class="bg-customBrokenWhite hover:bg-customDarkGrey"
        >
          <ng-container *ngFor="let column of getHeader(); let j = index">
            <td
              class="border border-gray-300 px-4 py-2 text-[#6a6b6b] text-center items-center"
              [attr.data-label]="
                column === 'No' ? column : (column | titlecase)
              "
            >
              <!-- Check if the column is the 'picture' column -->
              <ng-container *ngIf="column === 'picture'">
                <!-- Render the image -->
                <img
                  class="w-10 h-10 rounded-full hover:scale-125 transition duration-300 ease-in-out inline-block align-middle"
                  [src]="item[column]"
                />
              </ng-container>

              <!-- If not, render the regular column value -->
              <ng-container *ngIf="column !== 'picture'">
                {{ column === "No" ? startIndex + i + 1 : item[column] }}
              </ng-container>
            </td>
          </ng-container>
          <td class="border border-gray-300">
            <div class="flex items-center space-x-2 justify-center">
              <button
                class="text-customBlue w-8 h-8 rounded-full bg-slate-400 hover:text-customGrey hover:bg-customBlue"
                (click)="onDetailClick(item)"
              >
                <i class="fa-solid fa-circle-info"></i>
              </button>

              <button
                class="text-customBlue w-8 h-8 rounded-full bg-slate-400 hover:text-customGrey hover:bg-customBlue"
                (click)="onEditClick(item)"
              >
                <i class="fa-solid fa-square-pen"></i>
              </button>

              <button
                class="text-customBlue w-8 h-8 rounded-full bg-slate-400 hover:text-customGrey hover:bg-customBlue"
                (click)="onDeleteClick(item)"
              >
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
