<app-navbar></app-navbar>
<h1 class="text-3xl font-bold tablet:ml-8 mobileS:ml-3 mt-2 mb-2">
  DATA CUSTOMER
</h1>
<div class="flex justify-center">
  <div
    class="container mb-2 px-4 tablet:w-[700px] laptop:w-[950px] desktop:w-full"
  >
    <!-- Flex container for search and add button -->
    <div
      class="flex flex-col mobileS:flex-col tablet:flex-row justify-between items-center gap-1"
    >
      <!-- Search form -->
      <div [formGroup]="searchForm" class="w-full tablet:w-[300px]">
        <input
          type="text"
          formControlName="search"
          placeholder="Search Customer By Customer Name"
          class="border-2 border-gray-300 bg-white shadow-xl h-10 px-5 pr-10 rounded-lg text-sm focus:outline-none focus:border-customBlue w-full"
        />
      </div>
      <!-- Button Add -->
      <div class="w-full tablet:w-[200px]">
        <button
          class="btn btn-primary bg-customBlue shadow-xl text-white hover:bg-customGrey rounded-lg w-full tablet:w-full h-10"
          (click)="onAdd()"
        >
          Add Customer
        </button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL DETAIL -->
<div class="modal" *ngIf="showModalDetail">
  <div class="modal-content">
    <div class="flex justify-end text-customGrey">
      <button
        class="close border-none focus:border-none text-3xl"
        (click)="showModalDetail = false"
      >
        &times;
      </button>
    </div>

    <!-- Isi Modal -->
    <div class="text-2xl text-center">DETAIL CUSTOMER</div>
    <div class="space-y-4">
      <div class="flex flex-col">
        <p class="text-lg font-semibold">Nama</p>
        <p class="text-gray-700">{{ customerDetails.customerName }}</p>
      </div>
      <div class="flex flex-col">
        <p class="text-lg font-semibold">Address</p>
        <p class="text-gray-700">{{ customerDetails.customerAddress }}</p>
      </div>
      <div class="flex flex-col">
        <p class="text-lg font-semibold">Phone Number</p>
        <p class="text-gray-700">{{ customerDetails.phoneNumber }}</p>
      </div>
      <div class="flex flex-col">
        <p class="text-lg font-semibold">Last Order</p>
        <p class="text-gray-700">{{ customerDetails.lastOrder }}</p>
      </div>
    </div>
  </div>
</div>

<!-- MODAL ADD -->
<div class="modal" *ngIf="showModalAdd">
  <div class="modal-content">
    <div class="flex justify-end text-customGrey">
      <button
        class="close border-none focus:border-none text-3xl"
        (click)="resetForm(); showModalAdd = false"
      >
        &times;
      </button>
    </div>

    <!-- Isi  Modal -->
    <div class="text-2xl text-center font-bold mb-4">Add Customer</div>
    <form [formGroup]="addCustomerForm" (ngSubmit)="onSubmitAdd()">
      <div class="space-y-4">
        <!-- Input Customer Name -->
        <div>
          <label class="text-[14px] text-customGrey" for="customerName">
            Customer Name<span
              *ngIf="
                customerName &&
                customerName.invalid &&
                (customerName.dirty || customerName.touched)
              "
              class="text-red-500"
            >
              *</span
            >
          </label>
          <!-- Use formControlName to associate a FormControl with a field name -->
          <input
            [class]="
              customerName &&
              customerName.invalid &&
              (customerName.dirty || customerName.touched)
                ? 'text-[16px] w-full text-customGrey placeholder-gray-400 border border-red-500 rounded-md py-2 px-2 leading-tight focus:outline-none focus:bg-none transition duration-150 ease-in-out'
                : 'text-[16px] w-full text-customGrey placeholder-gray-400 border border-gray-300 rounded-md py-2 px-2 leading-tight focus:outline-none focus:bg-none transition duration-150 ease-in-out'
            "
            type="text"
            id="customerName"
            name="customerName"
            placeholder="Customer Name"
            formControlName="customerName"
          />

          <!-- Show an error message only if the field is touched and is invalid -->
          <div
            *ngIf="
              customerName &&
              customerName.invalid &&
              (customerName.dirty || customerName.touched)
            "
          >
            <div
              class="text-red-500 text-xs"
              *ngIf="customerName.errors?.['required']"
            >
              Customer Name column cannot be empty.
            </div>
            <div
              class="text-customRed text-xs"
              *ngIf="customerName.errors?.['minlength']"
            >
              Customer Name column cannot be less than 3 characters.
            </div>
            <div
              class="text-customRed text-xs"
              *ngIf="customerName.errors?.['maxlength']"
            >
              Customer Name must not exceed 20 characters.
            </div>
            <div
              class="text-customRed text-xs"
              *ngIf="customerName.errors?.['pattern']"
            >
              Customer Name column must be letters.
            </div>
          </div>
        </div>
        <!-- Input Customer  Address -->
        <div>
          <label class="text-[14px] text-customGrey" for="customerAddress">
            Customer Address<span
              *ngIf="
                customerAddress &&
                customerAddress.invalid &&
                (customerAddress.dirty || customerAddress.touched)
              "
              class="text-red-500"
            >
              *</span
            >
          </label>

          <input
            [class]="
              customerAddress &&
              customerAddress.invalid &&
              (customerAddress.dirty || customerAddress.touched)
                ? 'text-[16px] w-full text-customGrey placeholder-gray-400 border border-red-500 rounded-md py-2 px-2 leading-tight focus:outline-none focus:bg-none transition duration-150 ease-in-out'
                : 'text-[16px] w-full text-customGrey placeholder-gray-400 border border-gray-300 rounded-md py-2 px-2 leading-tight focus:outline-none focus:bg-none transition duration-150 ease-in-out'
            "
            type="text"
            id="customerAddress"
            name="customerAddress"
            placeholder="Customer Name"
            formControlName="customerAddress"
          />

          <div
            *ngIf="
              customerAddress &&
              customerAddress.invalid &&
              (customerAddress.dirty || customerAddress.touched)
            "
          >
            <div
              class="text-red-500 text-xs"
              *ngIf="customerAddress.errors?.['required']"
            >
              Customer Address column cannot be empty.
            </div>
            <div
              class="text-customRed text-xs"
              *ngIf="customerAddress.errors?.['minlength']"
            >
              Customer Address column cannot be less than 5 characters.
            </div>
            <div
              class="text-customRed text-xs"
              *ngIf="customerAddress.errors?.['maxlength']"
            >
              Customer Address column cannot exceed 200 characters.
            </div>
          </div>
        </div>

        <!-- Input Customer Phone Number -->
        <div>
          <label class="text-[14px] text-customGrey" for="phoneNumber">
            Phone Number<span
              *ngIf="
                phoneNumber &&
                phoneNumber.invalid &&
                (phoneNumber.dirty || phoneNumber.touched)
              "
              class="text-red-500"
            >
              *</span
            >
          </label>

          <input
            [class]="
              phoneNumber &&
              phoneNumber.invalid &&
              (phoneNumber.dirty || phoneNumber.touched)
                ? 'text-[16px] w-full text-customGrey placeholder-gray-400 border border-red-500 rounded-md py-2 px-2 leading-tight focus:outline-none focus:bg-none transition duration-150 ease-in-out'
                : 'text-[16px] w-full text-customGrey placeholder-gray-400 border border-gray-300 rounded-md py-2 px-2 leading-tight focus:outline-none focus:bg-none transition duration-150 ease-in-out'
            "
            type="text"
            id="phoneNumber"
            name="phoneNumber"
            placeholder="Phone Number"
            formControlName="phoneNumber"
          />

          <!-- ERROR MESSAGE -->
          <div
            *ngIf="
              phoneNumber &&
              phoneNumber.invalid &&
              (phoneNumber.dirty || phoneNumber.touched)
            "
          >
            <div
              class="text-red-500 text-xs"
              *ngIf="phoneNumber.errors?.['required']"
            >
              Phone Number column cannot be empty.
            </div>
            <div
              class="text-customRed text-xs"
              *ngIf="phoneNumber.errors?.['minlength']"
            >
              Phone Number column cannot be less than 1 characters.
            </div>
            <div
              class="text-customRed text-xs"
              *ngIf="phoneNumber.errors?.['maxlength']"
            >
              Phone Number column cannot exceed 12 characters.
            </div>
            <div
              class="text-customRed text-xs"
              *ngIf="phoneNumber.errors?.['pattern']"
            >
              Phone Number column must be a number.
            </div>
          </div>
        </div>

        <!-- INPUT IMAGE -->
        <div>
          <label class="text-[14px] text-customGrey" for="picture">
            Customer Image
          </label>
          <input
            type="file"
            id="picture"
            name="picture"
            (change)="onFileSelected($event)"
            formControlName="picture"
          />

          <div
            *ngIf="
              addCustomerForm.get('picture')?.invalid &&
              addCustomerForm.get('picture')?.touched
            "
            class="text-customRed text-xs"
          >
            Please select a picture.
          </div>
        </div>

        <!-- Reset Error Message If Close Modal -->
        <div *ngIf="errorMessageCustomer !== ''">
          {{ errorMessageCustomer }}
        </div>
        <div class="flex justify-end">
          <button
            type="submit"
            class="mt-2 bg-customBlue text-white py-2 px-4 rounded-2xl hover:bg-customGrey w-32 h-10"
          >
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- MODAL EDIT -->
<div class="modal" *ngIf="showModalEdit">
  <div class="modal-content">
    <div class="flex justify-end text-customGrey">
      <button
        class="close border-none focus:border-none text-3xl"
        (click)="showModalEdit = false"
      >
        &times;
      </button>
    </div>

    <!-- Isi Modal -->
    <div class="text-2xl text-center font-bold mb-4">EDIT CUSTOMER</div>
    <form (ngSubmit)="onSubmitEdit()" [formGroup]="updateCustomerForm">
      <div class="space-y-4">
        <div>
          <label class="text-[14px] text-customGrey" for="customerName">
            Customer Name
            <span
              *ngIf="
                customerNameUpdate &&
                customerNameUpdate.invalid &&
                (customerNameUpdate.dirty || customerNameUpdate.touched)
              "
              class="text-red-500"
            >
              *
            </span>
          </label>
          <input
            [class]="
              updateCustomerForm.get('customerNameUpdate')?.invalid &&
              (updateCustomerForm.get('customerNameUpdate')?.dirty ||
                updateCustomerForm.get('customerNameUpdate')?.touched)
                ? 'text-[16px] w-full text-customGrey placeholder-gray-400 border border-red-500 rounded-md py-2 px-2 leading-tight focus:outline-none focus:bg-none transition duration-150 ease-in-out'
                : 'text-[16px] w-full text-customGrey placeholder-gray-400 border border-gray-300 rounded-md py-2 px-2 leading-tight focus:outline-none focus:bg-none transition duration-150 ease-in-out'
            "
            type="text"
            id="customerName"
            name="customerName"
            formControlName="customerName"
          />

          <div
            *ngIf="
              customerNameUpdate &&
              customerNameUpdate.invalid &&
              (customerNameUpdate.dirty || customerNameUpdate.touched)
            "
          >
            <div
              class="text-red-500 text-xs"
              *ngIf="customerNameUpdate.errors?.['required']"
            >
              Customer Name column cannot be empty.
            </div>
            <div
              class="text-customRed text-xs"
              *ngIf="customerNameUpdate.errors?.['minlength']"
            >
              Customer Name column cannot be less than 3 characters.
            </div>
            <div
              class="text-customRed text-xs"
              *ngIf="customerNameUpdate.errors?.['maxlength']"
            >
              Customer Name column cannot exceed 20 characters.
            </div>
            <div
              class="text-customRed text-xs"
              *ngIf="customerNameUpdate.errors?.['pattern']"
            >
              Customer Name column must be letters.
            </div>
          </div>
        </div>
        <div class="space-y-4">
          <div>
            <label class="text-[14px] text-customGrey" for="customerAddress">
              Customer Address
              <span
                *ngIf="
                  customerAddressUpdate &&
                  customerAddressUpdate.invalid &&
                  (customerAddressUpdate.dirty || customerAddressUpdate.touched)
                "
                class="text-red-500"
              >
                *
              </span>
            </label>
            <input
              [class]="
                updateCustomerForm.get('customerAddress')?.invalid &&
                (updateCustomerForm.get('customerAddress')?.dirty ||
                  updateCustomerForm.get('customerAddress')?.touched)
                  ? 'text-[16px] w-full text-customGrey placeholder-gray-400 border border-red-500 rounded-md py-2 px-2 leading-tight focus:outline-none focus:bg-none transition duration-150 ease-in-out'
                  : 'text-[16px] w-full text-customGrey placeholder-gray-400 border border-gray-300 rounded-md py-2 px-2 leading-tight focus:outline-none focus:bg-none transition duration-150 ease-in-out'
              "
              type="text"
              id="customerAddress"
              name="customerAddress"
              formControlName="customerAddress"
            />

            <div
              *ngIf="
                customerAddressUpdate &&
                customerAddressUpdate.invalid &&
                (customerAddressUpdate.dirty || customerAddressUpdate.touched)
              "
            >
              <div
                class="text-red-500 text-xs"
                *ngIf="customerAddressUpdate.errors?.['required']"
              >
                Customer Address column cannot be empty.
              </div>
              <div
                class="text-customRed text-xs"
                *ngIf="customerAddressUpdate.errors?.['minlength']"
              >
                Customer Address column cannot be less than 3 characters.
              </div>
              <div
                class="text-customRed text-xs"
                *ngIf="customerAddressUpdate.errors?.['maxlength']"
              >
                Customer Address column cannot exceed 200 characters.
              </div>
            </div>
          </div>
        </div>
        <div class="space-y-4">
          <div>
            <label class="text-[14px] text-customGrey" for="phoneNumber">
              Phone Number
              <span
                *ngIf="
                  phoneNumberUpdate &&
                  phoneNumberUpdate.invalid &&
                  (phoneNumberUpdate.dirty || phoneNumberUpdate.touched)
                "
                class="text-red-500"
              >
                *
              </span>
            </label>
            <input
              [class]="
                updateCustomerForm.get('phoneNumber')?.invalid &&
                (updateCustomerForm.get('phoneNumber')?.dirty ||
                  updateCustomerForm.get('phoneNumber')?.touched)
                  ? 'text-[16px] w-full text-customGrey placeholder-gray-400 border border-red-500 rounded-md py-2 px-2 leading-tight focus:outline-none focus:bg-none transition duration-150 ease-in-out'
                  : 'text-[16px] w-full text-customGrey placeholder-gray-400 border border-gray-300 rounded-md py-2 px-2 leading-tight focus:outline-none focus:bg-none transition duration-150 ease-in-out'
              "
              type="text"
              id="phoneNumber"
              name="phoneNumber"
              formControlName="phoneNumber"
            />

            <div
              *ngIf="
                phoneNumberUpdate &&
                phoneNumberUpdate.invalid &&
                (phoneNumberUpdate.dirty || phoneNumberUpdate.touched)
              "
            >
              <div
                class="text-red-500 text-xs"
                *ngIf="phoneNumberUpdate.errors?.['required']"
              >
                Phone Number column cannot be empty.
              </div>
              <div
                class="text-customRed text-xs"
                *ngIf="phoneNumberUpdate.errors?.['minlength']"
              >
                Phone Number column cannot be less than 11 characters.
              </div>
              <div
                class="text-customRed text-xs"
                *ngIf="phoneNumberUpdate.errors?.['maxlength']"
              >
                Phone Number column cannot exceed 12 characters.
              </div>
              <div
                class="text-customRed text-xs"
                *ngIf="phoneNumberUpdate.errors?.['pattern']"
              >
                Phone Number column must be a number.
              </div>
            </div>
          </div>

          <!-- INPUT IMAGE -->
          <div>
            <label class="text-[14px] text-customGrey" for="picture">
              Customer Image
            </label>
            <input
              type="file"
              id="picture"
              name="picture"
              (change)="onFileSelected($event)"
            />

            <img
              [src]="customerDetails.picture"
              alt="customer image"
              class="w-20 h-20 mt-2"
            />
          </div>

          <div class="flex justify-end">
            <button
              type="submit"
              class="mt-2 bg-customBlue text-white py-2 px-4 rounded-2xl hover:bg-customGrey w-32 h-10"
            >
              Save
            </button>
          </div>
        </div>
      </div>

      <!-- Customer Address Update -->
    </form>
  </div>
</div>

<!-- MODAL DELETE -->
<div class="modal w-full" *ngIf="showModalDelete">
  <div class="modal-content">
    <div class="flex justify-end text-customGrey">
      <button
        class="close border-none focus:border-none text-3xl"
        (click)="showModalDelete = false"
      >
        &times;
      </button>
    </div>

    <!-- Isi  Modal -->
    <div class="text-2xl text-center">DELETE CUSTOMER</div>
    <div class="space-y-4">
      <p>Are you sure you want to delete this customer?</p>
      <p>{{ customerDetails.customerName }}</p>
      <p>{{ customerDetails.customerAddress }}</p>
      <div class="flex justify-end">
        <button
          (click)="onSubmitDelete()"
          class="mt-2 bg-customRed text-white py-2 px-4 rounded-2xl hover:bg-customGrey w-32 h-10"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>

<app-table
  [data]="customers"
  [columns]="customerColumns"
  [startIndex]="startIndex"
  [header]="customerHeaderTable"
  (sortClicked)="onSort($event)"
  (detailClicked)="onDetail($event)"
  (editClicked)="onEdit($event)"
  (deleteClicked)="onDelete($event)"
></app-table>

<app-pagination
  [lastPage]="pagination.lastVisiblePage"
  [currentPage]="pagination.currentPage"
  [pageSize]="pageSize"
  (pageSizeChange)="onPageSizeChanged($event)"
  (pageChange)="onPageChanged($event)"
></app-pagination>
